/* GENERAL */
.lg-btn, .border-btn{
  border-radius: 50px;
  
}
.lg-btn{
  padding: 5px 12px;
}
.border-btn{
  border: 2px solid #212529;
}
.border-btn.b-orange{
  border: 2px solid #cd3d0f;
}
.border-btn.b-blue{
  border: 2px solid #0d6efd;
}
.border-btn.b-white{
  border: 2px solid white;
}
.lg-btn:hover{
  padding: 3px 10px;
  margin: 2px;
}
.lg-btn-orange:hover{
  background-color: #cd3d0f;
}
.lg-btn-orange{
  background-color: #CD3D0F;
}
.slogan{
  color: #0072CE;
  text-transform: uppercase;
  margin-bottom: 0;
}
.main-text{
  color: #727272;
  font-size: 20px;
}
h2{
  font-size: 40px;
}
.lg-box img{
  width: 100%;
}
.lg-p10{
  padding: 10px 0;
}
.lg-p-50{
  padding: 50px 0;
}


/* JUMBOTRON */
.jumbotron{
  position: relative;
  background-size: cover;
  background-position: center;
  margin-top: 80px;
  color: white;
}
.jumbo-container{
  padding: 150px 0 50px 0;
}

.first-jumbo{
  background-image: url(../img/jumbo-bg.png);
}

.second-jumbo{
  background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

.jumbotron img{
  width: 100%;
}

/* HEADER  */

.top-header{
  background-color: black;
}
.top-header svg{
  width: 70px;
  padding: 10px;
}

.logo svg{
  padding-left: 10px;
}
nav ul{
  list-style: none;
  margin-bottom: 0;
}
nav ul li{
  display: inline-block;
}
.bottom-header a i{
  font-size: 10px;
  padding-left: 5px;
}
.bottom-header a{
  line-height: 50px;
  padding: 0;
  font-size: 14px;
  text-decoration: none;
  color: black;
}
.bottom-header a:hover, .bottom-header a:hover i {
  color: #0072CE;
}

.bottom-header a i{
  color: #999999;
}

.bottom-header i{
  padding: 10px 20px;
}
.hamburger{
  margin: 10px 10px 0 0;
}

.nav-hover{
  width: 100vw;
  height: 200px;
  background-color: white;
}
.nh-1{
  left: -82px !important;
}
.nh-2{
  left: -159px !important;
}
.nh-3{
  left: -257px !important;
}
.nh-4{
  left: -335px !important;
}
.nh-5{
  left: -413px !important;
}
.nh-6{
  left: -519px !important;
}
.nh-7{
  left: -1001px !important;
}
.nav-hover .row.top-nav-h{
  border-bottom: 2px solid #9999995d;
}
.nav-hover .bottom-nav-h .fa-circle{
  padding: 0 10px;
  font-size: 4px;
  line-height: 10px;
}

.nav-hover .lg-box:hover{
  box-shadow: 2px 2px 4px #9999995d;
  cursor: pointer;
}
.bottom-header .navbar nav a:active .nav-hover{
  display: block;
}

/* play-row */
.play-row .lg-box img, .new-play-row .lg-box img{
  padding: 2px;
  border-radius: 15px;
}

.play-row .active{
  border: 2px solid #0072CE;
  border-radius: 15px;
}
.play-row .lg-box:hover{
  cursor: pointer;
  padding: 25px 0 75px 0;
}
.play-row .lg-box:hover img{
  box-shadow: 2px 25px 10px rgba(0, 0, 0, 0.301);
}

/* PS5 */
.accessories .lg-box{
  width: 100%;
  height: 160px;
}
.accessories img{
  width: 50%;
  opacity: .7;
}
.active-console{
  font-size: 20px;
  border-bottom: 2px solid #0072CE;
}
.active-console img{
  opacity: unset;
}
.accessories .lg-box:hover{
  cursor: pointer;
}
.accessories .lg-box:hover img{
  opacity: unset;
}
.accessories .lg-box:hover p{
  color: black;
}


/* nuove-uscite  */
.nuove-uscite{
  background-color: #1F1F1F;
  color: white;
}
.nuove-uscite .new-play-row .lg-box:hover{
  transform: scale(1.1);
}


/* ps-plus */
.ps-plus{
  background-color: #BEBCBB;
}
.ps-plus-btn{
  border: none;
  background-color: rgba(255, 255, 255, 0.432);
  transition: border 0s;
}
.ps-plus-btn:hover{
  border: 2px solid rgba(255, 255, 255, 0.233);
  background-color: rgba(255, 255, 255, 0.432);
  color: #0d6efd;
  margin: 0;
}
.ps-plus .logo img{
  width: 60%;
}

/* ps-now  */
.ps-now{
  background-color: #161C3B;
  color: white;
}
.ps-now .logo img{
  width: 60%;
}

/* footer */
footer{
  background-color: #00439C;
  color: white;
  font-size: 12px;
}
footer .lg-box img{
  width: 80px;
}
footer .lg-box img.globo{
  width: 10px;
}

footer ul{
  list-style: none;
}
footer ul li a{
  text-decoration: none;
  color: white;
}